.caseypic {
  max-width: 100%;
  max-height: 100%;
  border-radius: 180px;
}

#pics {
  padding-top: 50px;
}

#header2 {
  background-color: #212121;
  /*background: linear-gradient(to right, #26A69A, #00897B);*/
  position: relative;
  z-index: 0;
  float: left;
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.message {
  width: 75%;
}

#header2 .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/carnations2.jpg');
  background-size: cover;
  background-position: 70% 18%;
  background-attachment: fixed;
  opacity: .65;
  width: 100%;
  height: 100%;
}