.top-bar {
  background-color: #00796B;
}

.main-body {
  padding-top: 20px;
}

.nav-button {
  width: 100px;
}

.white-text {
  color: #FFFFFF;
}

.color1 {
  /*Red accent*/
  background-color: #FF5252;
}

.color2 {
  background-color: #00796B;
}

.shadow {
  text-shadow: 2px 2px 2px #000000;
}

#header {
  /*background-color: #009688;*/
  background: linear-gradient(to right, #26A69A, #00897B);
  float: left;
  width: 100%;
  height: 300px;
  padding-top: 40px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
}

#profile_pic {
  max-width: 80%;
  max-height: 80%;
  border-radius: 180px;
}
