.top-bar {
  /*background-color: #00796B;*/
  backround-color: transparent;
}

.main-body {
  padding-top: 80px;
}

.nav-button {
  width: 100px;
}

.white-text {
  color: #FFFFFF;
}
/*
.red-btn {
  background-color: transparent;
  border: 1px solid #FF5252;
  color: #FF5252;
}

.red-btn:hover {
  background-color: #FF5252;
}
*/
.top-btn {
  background-color: transparent;
  font-size: 14px;
}

.top-btn:hover {
  background-color: transparent;
  border: 1px solid #F5F5F5;
  font-style: italic;
}

.shadow1 {
  text-shadow: 3px 3px 3px #000000;
}

.shadow2 {
  text-shadow: 2px 2px 1px #000000;
}

#header {
  /*background-color: #009688;*/
  background: linear-gradient(to right, #26A69A, #00897B);
  position: relative;
  z-index: 0;
  float: left;
  width: 100%;
  height: auto;
  padding-top: 50px;
}

#header .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/cover2.jpg');
  background-size: cover;
  background-position: 70% 18%;
  opacity: .75;
  width: 100%;
  height: 100%;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
}
